.tsd-navigation.settings {
	display: none;
}

.tsd-navigation.primary ul:first-child > li:first-child > a:first-child  {
	display: none;
}

summary.tsd-accordion-summary {
	display: none;
}

.tsd-accordion-details .pages-entry.pages-entry-menu > a:first-child {
	text-decoration: underline;
	border: none;
}

.tsd-accordion-details .tsd-kind-module.tsd-parent-kind-module {
	display: none;
}

.tsd-navigation.primary ul li li li a {
    margin-left: 2rem;
}

.tsd-navigation.primary ul li li li li a {
    margin-left: 3rem;
}

.menu-sticky-wrap {
	padding: 0;
}
